/* Fondo y Letra */
body {
  background-color: #f8f9fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Formulario */
form input,
form textarea {
  border-radius: 0.5rem;
}

/* Boton Registrar/Actualizar Vacuna */
.btn-primary {
  background-color: #0066ff;
  border-color: #007BFF;
  color: white;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-primary:hover {
  background-color: #005ce6;
  border-color: #006ae6;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #2ea745 !important;
  border-color: #10a74f !important;
  box-shadow: none;
}

/* Lista de Vacunas */
.list-group-item {
  border-radius: 0.4rem;
  margin-bottom: 0.5rem;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

/* Textos Informativos */
.text-muted {
  font-style: italic;
  color: #6c757d !important;
}

/*Imagen Logo*/
img {
  max-height: 500px;
  height: 500x;
  width: 500px;
}

/* Boton Registrar/Actualizar Chequeo */
.btn-success {
  background-color: #0066ff;
  border-color: #007BFF;
  color: white;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-success:hover {
  background-color: #005ce6;
  border-color: #006ae6;
}

.btn-success:active,
.btn-success:focus {
  background-color: #2ea745 !important;
  border-color: #10a74f !important;
  box-shadow: none;
}

/*Boton Editar*/
.btn-warning {
  background-color: #5080fd;
  border-color: #436eda;
  color: white;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-warning:hover {
  background-color: #0069d9;
  border-color: #0069d9;
}

.btn-warning:active,
.btn-warning:focus {
  background-color: #0047b3 !important;
  border-color: #0050cc !important;
  box-shadow: none;
}

/* Boton: Eliminar */
.btn-danger {
  background-color: #DC3545;
  border-color: #DC3545;
  color: white;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:active,
.btn-danger:focus {
  background-color: #a71d2a !important;
  border-color: #991b27 !important;
  box-shadow: none;
}

/*advertencias vacunas proximas*/
.bg-warning-subtle {
  background-color: #fbff11bd !important;
}

.bg-danger-subtle {
  background-color: #f10c1fd3 !important;
}
